.projects {
	font-family: 'Open Sans',sans-serif;
  margin: 0 auto !important;
}

.center {
  margin: 0 auto !important;
}

.title {
  margin: 0 auto !important;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.6em;
	line-height: 1.6em;
	color: #3A4145;
}

.gh-username {
	font-family: 'Open Sans',sans-serif;
  margin: 0 auto !important;
  max-width: 75%;
}

.controls {
  margin: 0 auto !important;
}

.nav-button {
  margin: 0 auto;
  display: block;
}
