<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  <meta name="viewport" content="width=device-width, initial-scale=1">
<header class="text-center nav navbar">
  <section class="centered page-top navbar-section">
  </section>
</header>

<html>
  <body>
    <decision>
    </decision>
    <footer class="footer">
    </footer>

  <link rel="stylesheet" href="/blog/styles/spectre.min.css">
  <link rel="stylesheet" href="/blog/styles/blog.min.css">
  <script type="text/javascript" src="/blog/scripts/blog.min.js"></script>
  </body>
</html>
