<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fragment" content="!">
</head>
<html>
  <body>
    <div data-is="app" initial_post="{{ initial_post }}" csrf_token="{{ csrf_token() }}"></div>
  </body>
  <footer>
    <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.async = true;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.async = true;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
      (function() {
        function loadCSS(href) {
          var css = document.createElement('link');
          css.href = href;
          css.rel = 'stylesheet';
          css.type = 'text/css';
          document.getElementsByTagName('head')[0].appendChild(css);
        }
        var hrefs = ['/styles/primop.me.min.css', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'];
        for (var i = 0, l = hrefs.length; i < l; i++) {
          loadCSS(hrefs[i]);
        }
      })();
    </script>
    <script async type="text/javascript" src="/scripts/riotblog.min.js"></script>
  </footer>
</html>
