<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="stylesheet" href="/styles/primop.me.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fragment" content="!">
</head>
<html>
  <body>
    <section class="text-center nav navbar centered page-top navbar-section">
      <h1 class="blog-title">Wes Kerfoot</h1>
    </section>
    <app csrf_token="{{ csrf_token() }}"></app>
    <footer class="footer">
    </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/scripts/riotblog.min.js"></script>
  </body>
</html>
