<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<head>
  <link rel="stylesheet" href="/blog/styles/spectre.min.css">
  <link rel="stylesheet" href="/blog/styles/riotblog.min.css">
  <link rel="stylesheet" href="/blog/styles/projects.min.css">
  <link rel="stylesheet" href="/blog/styles/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header class="text-center nav navbar">
  <section class="centered page-top navbar-section">
    <h1 class="blog-title">hmmm</h1>
  </section>
</header>

<html>
  <body>
    <projects>
    </projects>
    <footer class="footer">
    </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/blog/scripts/riotblog.min.js"></script>
  </body>
</html>
