{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<header class="text-center nav navbar">
  <section class="centered page-top navbar-section">
    <h1 class="blog-title">nowhere</h1>
  </section>
</header>
{% endblock %}

<html>
  <body>
    {% block content %}

    <editor>
    </editor>

    {% endblock %}

    <footer class="footer">
    </footer>

{% block styles %}

  <link rel="stylesheet" href="/blog/styles/spectre.min.css">
  <link rel="stylesheet" href="/blog/styles/riotblog.min.css">

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/blog/scripts/riotblog.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

  </body>
</html>
