.projects {
  margin: 0 auto !important;
}

.center {
  margin: 0 auto !important;
}

.title {
  margin: 0 auto !important;
}

.gh-username {
  margin: 0 auto !important;
  max-width: 75%;
}

.controls {
  margin: 0 auto !important;
}

.nav-button {
  margin: 0 auto;
  display: block;
}
