$branding: #5764c6;

.post-text, .title, .post, .postnav {
  text-align: center;
  border: 1px;
}

.post-title {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.6em;
	line-height: 1.6em;
	color: #3A4145;
}

.post-author {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.0em;
	line-height: 1.2em;
	color: #3A4145;
}

.loading {
}

.navigate {
  width: 20% !important;
  margin-bottom: 25px !important;
  margin: auto !important;
}

.navigate-tab {
  border: thin solid;
  border-radius: 5px !important;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  &:hover {
    background-color: $branding;
  }
}

.navigate-item {
  &:hover {
    color: white !important;
  }
}

.content-box {
  margin-top: 10px;
  display: flex !important;                   /* defines flexbox */
  flex-direction: column !important;          /* top to bottom */
  justify-content: space-between !important;  /* first item at start, last at end */
  position: relative !important;
}

.projects-box {
  @extend .content-box;
  height: 350px !important;
}

.posts-box {
  @extend .content-box;
  height: 250px !important;
}

.content {
  margin: auto;
  max-width: 50%;
  @media (max-width: 1000px) {
    max-width: 70%;
  }
  @media (max-width: 800px) {
    max-width: 80%;
  }
  @media (max-width: 400px) {
    max-width: 90%;
  }
}

.projects-content {
  margin: auto;
  max-width: 30%;
  @media (max-width: 1000px) {
    max-width: 60%;
  }
  @media (max-width: 800px) {
    max-width: 70%;
  }
  @media (max-width: 400px) {
    max-width: 80%;
  }
}

.post-content {
  text-indent: 6mm;
  max-width: 100%;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.4em;
	line-height: 1.6em;
	color: #3A4145;
  text-align: left;
}

.rounded-button {
  border-radius: 13px;
}

.maxinput {
  background-color: grey;
}

.maxwarn {
  margin-top: 15px;
}

.footer {
  margin-top: 10%;
}

.editor {}
