.post-text, .ltb-title, .post, .postnav {
  text-align: center;
}

.post-content {
  max-width: 50%;
  text-align: justify;
  font-size: 1.5em;
}

@media (max-width: 700px) {
  .post-content {
    max-width: 70%;
  }
}

@media (max-width: 500px) {
  .post-content {
    max-width: 90%;
  }
}

.rounded-button {
  border-radius: 13px;
}

.maxinput {
  background-color: grey;
}

.maxwarn {
  margin-top: 15px;
}

.footer {
  margin-top: 10%;
}

.editor {
  height: 100% !important;
}
