$brandingBG: rgba(103, 173, 219, 0.40);
$brandingBG2: rgba(75, 147, 193, 0.65);
$branding: #25658f;
$branding2: #4b93c1;
$branding3: #1b4c6c;

$menuWidth: 60px;

$navbarHeight: 100px;

.blog-title {
  text-transform: capitalize;
  margin-top: 15px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.75em;
  font-weight: 400;
  color: black;
  @media (max-width: 600px) {
    font-size: 1.6em;
  }
  @media (max-width: 530px) {
    font-size: 1.3em;
  }
}

.header {
  background-color: white;
  height: 68px;
  margin-top: 0px;
  padding-top: 0px;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.app-body {
  margin-top: 80px;
}

.twitter-share-button-rendered {
  font-size: 1.5em;
}

.fb-share-button {
  font-size: 1.5em;
}

.social-wrapper {
  height: 25px;
}

.fb-share-button > span {
  vertical-align: top !important;
}

.social {
  margin-top: 25%;
}

.sidebar-button {
	display: block !important;
	margin-top: 0;
  border: none;
  color: black !important;
	text-decoration: none;
  text-transform: capitalize;
  &:hover {
    background-color: $brandingBG !important;
  }
}

.sidebar-divider {
  &:after {
    background: none !important;
    color: $branding3 !important;
  }
}

.menu-element {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.category-button {
  border-radius: 5px !important;
  border-color: $branding2 !important;
	display: block !important;
	margin-top: 0;
	padding: .6rem 1.2rem .4rem 1.2rem;
  color: $branding !important;
	text-decoration: none;
  &:hover {
    background-color: $brandingBG !important;
  }
}

.categorybar {
  max-width: 350px;
  float: right;
}

.fewer-categories {
  margin-bottom: 8px;
  min-height: 8px;
}

.more-categories {
  margin-top: 8px;
  min-height: 8px;
}

.menu-button {
	display: block !important;
	margin-top: 0;
	text-decoration: none;
  color: $branding !important;
  background-color: white !important;
  &:hover {
    background-color: $brandingBG !important;
  }
}

.branded {
  border-radius: 5px !important;
  border-color: $branding2 !important;
	display: block !important;
	margin-top: 0;
	padding: .6rem 1.2rem .4rem 1.2rem;
	text-decoration: none;
  color: $branding !important;
  background-color: white !important;
  &:hover {
    background-color: $brandingBG !important;
  }
}

.loader-branded {
	color: transparent !important;
	min-height: 1.6rem;
	pointer-events: none;
	position: relative;

  &:after {
    -webkit-animation: loading .5s infinite linear;
    animation: loading .5s infinite linear;
    border: .2rem solid $branding;
    border-radius: .8rem;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.6rem;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    position: absolute;
    top: 50%;
    width: 1.6rem;
    z-index: 1;
  }
}

.bar-menu {
  font-size: 100% !important;
}

.tab-active {
  border-bottom-color: $branding !important;
  color: $branding !important;
}

a {
  color: $branding2 !important;
}

.branded-loader {}

.post-text, .title, .post, .postnav {
  text-align: center;
  border: 1px;
}

p, h6, h4 {
	font-family: 'Open Sans',sans-serif !important;
}

.post-title {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.6em;
  font-weight: 600;
	line-height: 1.6em;
	color: #3A4145;
  text-align: center;
}

.post-author {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.0em;
	line-height: 1.2em;
	color: #3A4145;
}

.project-title {
	font-family: 'Open Sans',sans-serif !important;
	font-size: 1.9em !important;
	line-height: 1.6em !important;
	color: #3A4145 !important;
}

.project-description {
	font-family: 'Open Sans',sans-serif !important;
	font-size: 1.2em !important;
	line-height: 1.2em !important;
	color: #3A4145 !important;
}

.links-navigate {
  width: 100%;
  margin-bottom: 25px !important;
  margin: auto !important;
}

.navigate {
  width: 20%;
  margin-bottom: 25px !important;
  margin: auto !important;
}

.navigate-small {
  width: $menuWidth;
  margin-bottom: 25px !important;
  margin: auto !important;
}

.navigate-tab {
  border: thin solid;
  border-radius: 5px !important;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  &:hover {
    background-color: $brandingBG;
  }
}

.navigate-tab-mobile {
  @extend .navigate-tab;
  margin: auto !important;
}

.navigate-item {
  text-transform: capitalize;
  color: $branding !important;
  &:hover {
    color: $branding3 !important;
  }
}

.mobile-navigate {
  width: $menuWidth;
  height: 45px !important;
}

.mobile-menu {
  left: -100% !important;
  border-radius: 5px !important;
  border: 1px solid !important;
  border-color: $branding !important;
}

.my-avatar {
  z-index: 0 !important;
}

.content-box {
  margin-top: 10px;
  display: flex !important;                   /* defines flexbox */
  flex-direction: column !important;          /* top to bottom */
  justify-content: space-between !important;  /* first item at start, last at end */
  position: relative !important;
}

.projects-box {
  @extend .content-box;
  height: 400px !important;
}

.posts-box {
  @extend .content-box;
  height: 250px !important;
}

.browse-content {
  margin: auto;
  max-width: 90%;
  @media (max-width: 1000px) {
    max-width: 95%;
  }
  @media (max-width: 800px) {
    max-width: 97%;
  }
  @media (max-width: 400px) {
    max-width: 100%;
  }
}

.post-card {
  max-width: 80%;
}

.content {
  margin: auto;
  max-width: 80%;
  @media (max-width: 1000px) {
    max-width: 85%;
  }
  @media (max-width: 800px) {
    max-width: 87%;
  }
  @media (max-width: 400px) {
    max-width: 90%;
  }
}

p > img, code {
  margin: auto;
  max-width: 85%;
  @media (max-width: 1000px) {
    max-width: 90%;
  }
  @media (max-width: 800px) {
    max-width: 100%;
  }
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin: auto;
}

code {
  text-indent: 0mm;
  margin: auto;
}

.projects-content {
  margin: auto;
  max-width: 25%;
  @media (max-width: 1000px) {
    max-width: 60%;
  }
  @media (max-width: 800px) {
    max-width: 70%;
  }
  @media (max-width: 400px) {
    max-width: 80%;
  }
}

.links-content {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

.link-box {
  margin: 5px;
}

.post-content {
  text-indent: 6mm;
  max-width: 100%;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.4em;
	line-height: 1.6em;
	color: #3A4145;
  text-align: left;
}

.project-content {
  margin-top: 5px;
  max-width: 100%;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.0em;
	line-height: 1.6em;
	color: #3A4145;
  text-align: left;
}

.rounded-button {
  border-radius: 13px;
}

.maxinput {
  background-color: grey;
}

.maxwarn {
  margin-top: 15px;
}

.footer {
  margin-top: 10%;
}

.editor {}
